@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@keyframes myAnim {
	0% {
    left: 0;
    transform: translateX(0);
  }

  100% {
    left: 100%;
    transform: translateX(-100%);
  }
}

#pointer{
  clip-path: polygon(75% 0%, 90% 50%, 75% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 2;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: 60%;
  height: auto;
  overflow: auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  transform: translateY(-200px);
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  /* // transform: translateY(-200px); */
  transition: all 0.3s ease-in-out;
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  /* border-bottom: 1px solid #eee; */
}

.modal-kemitraan {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 2;
}

.modal-header-kemitraan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-kemitraan.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal-kemitraan.exit-kemitraan {
  opacity: 0;
}

.modal-content-kemitraan {
  width: 60%;
  height: 90%;
  overflow: auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  transform: translateY(-200px);
}

.modal-kemitraan.enter-done .modal-content-kemitraan {
  transform: translateY(0);
}

.modal.exit .modal-content-kemitraan {
  /* // transform: translateY(-200px); */
  transition: all 0.3s ease-in-out;
}

.modal-header-kemitraan,
.modal-footer-kemitraan {
  padding: 10px;
}

.modal-title-kemitraan {
  margin: 0;
}

.modal-body-kemitraan {
  padding: 10px;
  border-top: 1px solid #eee;
  /* border-bottom: 1px solid #eee; */
}
